<!DOCTYPE html>
<html>
<head>
    <title>family测试api接口</title>
</head>
<body>
    <form action="/files " method="POST" enctype="multipart/form-data">
        <label>测试附件接口</label>
        <div >
            <div>options:<input type="text" name="options"></div>
            <div>albumId:<input type="text" name="albumId"></div>
            <div>familyId:<input type="text" name="familyId"></div>
            <div>userId:<input type="text" name="userId"></div>
            <label>附件：</label>
            <input type="file" name="attachment" class="form-control" >
            <input type="file" name="attachment" class="form-control" >
            <input type="file" name="attachment" class="form-control" >
        </div>
        <input type="submit" name="确定"Submit/>
    </form> 
</body>
</html>