<!DOCTYPE html>
<html>
<head>
	<title>活动项测试接口</title>
</head>
<body>
	<label>活动项测试</label>
	<div>
		[ options == 0 查询 ]
		[ options == 1 新增 ]
		[ options == 2 删除 ]
		[ options == 3 修改 ]
	</div>
	<br>
	<div>[ options == 0 查询 ]</div>
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="0" name="options"></div>
		<div> query_type :<input type="text" value="0" name="query_type"></div>
		<div> activityItemId:<input type="text" value="0" name="activityItemId"></div>
		<input type="submit" name="查询"Submit/>
	</form>	
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="0" name="options"></div>
		<div> query_type :<input type="text" value="1" name="query_type"></div>
		<div> familyId:<input type="text" value="1" name="familyId"></div>
		<input type="submit" name="查询"Submit/>
	</form>	
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="0" name="options"></div>
		<div> query_type :<input type="text" value="2" name="query_type"></div>
		<div> activityId:<input type="text" value="1" name="activityId"></div>
		<input type="submit" name="查询"Submit/>
	</form>	
	<br>
	<br>
	<div>[ options == 1 新增 ]</div>
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="1" name="options"></div>
		<div> familyId :<input type="text" value="1" name="familyId"></div>
		<div> activityId:<input type="text" value="1" name="activityId"></div>
		<div> title:<input type="text" value="新增活动项" name="title"></div>
		<div> desc:<input type="text" value="活动开始拉" name="desc"></div>
		<input type="submit" name="新增"Submit/>
	</form>	
	<br>
	<br>
	<div>[ options == 2 删除 ]</div>
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="2" name="options"></div>
		<div> activityItemId :<input type="text" value="1" name="activityItemId"></div>
		<input type="submit" name="删除"Submit/>
	</form>	
	<br>
	<br>
	<div>[ options == 3 修改 ]</div>
	<form action="/activityitems " method="POST">
		<div>options:<input type="text" value="3" name="options"></div>
		<div> activityItemId :<input type="text" value="1" name="activityItemId"></div>
		<div> familyId :<input type="text" value="1" name="familyId"></div>
		<div> activityId:<input type="text" value="1" name="activityId"></div>
		<div> title:<input type="text" value="新增活动项" name="title"></div>
		<div> desc:<input type="text" value="活动开始拉" name="desc"></div>
		<input type="submit" name="修改"Submit/>
	</form>	
</body>
</html>