
<!DOCTYPE html>
<html>
<head>
	<title>测试api接口</title>
</head>
<body>
	<form action="/photos " method="POST">
		<label>获取相册列表测试</label>
		<div>用户编号:<input type="text" name="userId"></div>
		<input type="submit" name="获取相片"Submit/>
	</form>	
</body>
</html>

<!-- Comet --- 服务器向浏览器推送 -->
<!-- Ajax --- 浏览器向服务器发起http请求 -->

 <!-- XMLHttpRequest -->
 var request = new XMLHttpRequest();
request.open("GET","data.csv");
request.setRequestHeader("Content-Type","text/plain");
request.setRequestHeader("Authorization","token");
request.send(null);
